:root {
     --main-bg-color: hsl(62, 80%, 56%);
     --main-element-color: hsl(62, 80%, 25%);
}

body {
    background-color: var(--main-bg-color);

}

body header .pageTitle {
    font-family: 'Goudy Bookletter 1911', serif;
    width: auto;
    margin: 20px auto;
    text-align: center;
    font-size: 49px;
    font-weight: normal;
}

body div.containerButtons {
    display: flex;
    justify-content: center;
}

body div.containerButtons button { 
    font-family: 'Goudy Bookletter 1911', serif;
    margin: 0vw 2.5vw;
    border: none;
    padding: 0.4vw 1.6vw;
    color: black;
    background-color: var(--main-bg-color);
    font-size: 25px;
    border-radius: 6px;
    cursor: pointer;
}

body div.containerButtons button:hover {
    background-color: var(--main-element-color);
    color: var(--main-bg-color);
}

body .containerLibrary div.books { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3vw auto;
    font-family: 'Zilla Slab', serif;
    font-size: 20.7px;
}

body .containerLibrary .books .singleBook {
    margin: 1.6vh auto;
    padding: 1.6vh 1vw;
    width: 80vw;
    min-height: 3.7vh;
    max-height: 10vh;
    position: relative;
    background-color: var(--main-bg-color);
    border-radius: 9px;
    box-shadow: 2.2px 2px 5px black;
    max-width: 80vw;
    text-align: left;
    line-height: 3.7vh;
}

body .containerLibrary .books img.removeBtn {
    position: absolute;
    width: 1vw;
    height: 1.5vw;
    right: 1.3vw;
    top: 0.75vw;
}

body .containerLibrary .books img.removeBtn:hover {
    opacity: 0.65;
    cursor: pointer;    
}

body .containerLibrary .books input.checkRead {
    position: absolute;
    right: 4vw;
}

body .containerLibrary .books label.checkReadLabel {
    position: absolute;
    right: 6vw;
}

 body div.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  body .modal div.modal-content {
    background-color: black;
    opacity: 93%;
    color: white;
    margin: 7% auto;
    padding: 5vw 1vw;
    border-radius: 10px;
    box-shadow: 2.5px 2px 3px black;
    width: 27%; 
    height: 50%;
  }
  
  /* The Close Button */
  body .modal .modal-content span.close {
    margin-top: -9vh;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  body .modal .modal-content span.close:hover,
  body .modal .modal-content span.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  } 

body .modal .modal-content form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: -3.5vh auto;
}

body .modal .modal-content form input.inputStyle {
    margin: 2vh 0vw;
    width: 98%;
    height: 4vh;
    border-radius: 7px;
}

body .modal .modal-content form #readInput {
    align-self: flex-start;
    margin: 3vh 0.2vw;
    transform: scale(1.1);
}

body .modal .modal-content form #submitBtn {
    border: none;
    margin-top: 1.5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

body .modal .modal-content form #submitBtn:hover {
    background-color: white;
    cursor: pointer;
}

body .modal .modal-content form #submitBtn:active {
    box-shadow: 1px 1px inset black;
    transform: scale(0.995);
}